body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 1200px;
    text-align: justify;
    background-color: ghostwhite;
    margin-right: auto;
    margin-left: auto;
}
.cabecera{
    display:flex;
    align-items: center;
    height: 150px;
    background-color: #9AF8DC;
}
.cabecera1{
    width: 50%;
}
.menuPrincipal{
    text-align: right;
    list-style: none;
    display: flex;
    justify-content: space-between;
    
}
.enlace:hover{
    font-weight: bold;
    font-size: larger;
    text-decoration: underline;
}
.banner{
    display: flex;
    justify-content: center;
    align-items: center;

}
.banner__titulo{
    position: absolute;
    color: white;

}
.sección{
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    min-height: 150px;
    justify-content: space-between;
}
.servicios2{
    width: 32.5%;
    background-color: #86D9A9;
    padding: 15px;
}
.titulo2{
    text-align: center;
}
.noticias{
    background-color: #A1F0AC;
}
.equipo4{
    width: 32.5%;
    display: inline-table;
    background-color: #96D986;
    padding: 15px;
}
.nombreParticipante{
    font-weight: bold;
    text-align: center;
}
.footer{
    background-color: #CCF89A;
}